section
  max-width: 100%
  img
    max-width: 100%

.header
  &-Toggle
    position: fixed
    top: 0
    right: 0
    padding: var(--spacing-one)
    cursor: pointer
  &-Content
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    background: white
    li
      padding: .5em
      cursor: pointer
      text-align: center
      &:hover, &.nuxt-link-exact-active
        text-decoration: underline