section
  max-width: 100%
  img
    max-width: 100%
.item
  border: 1px solid black

main
  padding-top: 69px
  border: 1px solid black

.introductionItem
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  &-Container
    max-width: 1000px
    display: flex
    margin: var(--spacing-one)
    > div
      flex-basis: 50%
  &-Left
    display: flex
    flex-direction: column
    justify-content: center
    h1, h2
      padding-bottom: 1em
    h1, h2, .markdown
      margin-right: var(--spacing-one)
  &-Right
    .aspectRatioBox
      position: relative
      width: 100%
      height: 0
      padding-top: 100%
      img
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover

.carouselItem
  border: 1px solid red
