$breakpoint-mobile: 800px
$breakpoint-header: 1000px
$content-container: 1140px
$color-lightgrey: #eeeeee
$color-black: #282828
$color-green: #d0e7bf
$color-green-hover: #CCE5B9
$color-orange: #f9c6cb
$color-orange-hover: #FFD5A8
$color-blue: #caebf6
$color-blue-hover: #C4C4E4
$max-text-width: 45em

$transition-hover: ease .25s
$transition-portrait: ease-out .25s
$transition-button: ease-out .25s
$transition-nav: ease-out .2s

body
  --spacing-one: 8px
  --spacing-two: 16px
  --spacing-three: 32px
  --spacing-four: 64px
  --spacing-five: 128px
  --spacing-six: 256px
  --spacing-sides: 32px
  @media screen and ( max-width: $content-container)
    --spacing-one: 0.875vmin
    --spacing-two: 1.75vmin
    --spacing-three: 3.5vmin
    --spacing-four: 7vmin
    --spacing-five: 14vmin
    --spacing-six: 28vmin
    --spacing-sides: 7vmin
